<!--
<!doctype html><html lang="es">
<head><meta charset="utf-8"/><title>{%block title%}Tienda{%endblock%}</title></head>
<body><header>
  <a href="/"><h1>Libreria (*El Titulo va aquí*)</h1></a>
    <form action="{% url 'catalog:search' %}" method="get">
      <input name="q" placeholder="Buscar categorías, subcategorías o productos" value="{{ request.GET.q }}">
      <button type="submit">Buscar</button>
    </form><a href="{% url 'cart:detail' %}">Carrito ({{cart_count}})</a>
    {%if user.is_authenticated%}
      <span>Hola, {{user.username}}</span>
      <form method="post" action="{% url 'logout' %}" style="display:inline;">{%csrf_token%}<button type="submit">Salir</button></form>
    {%else%}<a href="{% url 'login' %}">Entrar</a>{%endif%}
  </header><hr/>{%block content%}{%endblock%}
</body></html>
-->
<!doctype html><html lang="es">
  
</html>